Source: nymea-update-plugin-packagekit
Section: utils
Priority: optional
Maintainer: nymea GmbH <developer@nymea.io>
Standards-Version: 4.7.2
Homepage: https://nymea.io
Build-Depends: debhelper,
               dpkg-dev,
               libnymea-dev,
               libpackagekitqt6-dev,
               qt6-base-dev,
               qt6-base-dev-tools,


Package: nymea-update-plugin-packagekit
Architecture: any
Section: metapackages
Multi-Arch: same
Depends: libnymea1,
         ${misc:Depends},
         packagekit,
         libpackagekitqt6-1,
Provides: nymea-update-plugin-impl
Description: PackageKit platform plugin for nymea
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available 
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the platform adaption for PackageKit based platforms.
